<h1>Angular Change Detection</h1>

<div class="container">
  <!-- Event -->
  <div class="case">
    <h2>Event</h2>
    <div class="content">
      <button type="button" (click)="startLoading()">Start</button>
      <div class="lds-dual-ring" *ngIf="showLoading"></div>
      <button type="button" (click)="stopLoading()">Stop</button>
    </div>
  </div>
  <!-- Timeout -->
  <div class="case">
    <h2>Timeout</h2>
    <div class="content">
      <button type="button" (click)="startTimeout()">Start</button>
      <div class="lds-dual-ring" *ngIf="showLoading"></div>
      <button type="button" (click)="stopTimeout()">Stop</button>
    </div>
  </div>
  <!-- HttpClient -->
  <div class="case">
    <h2>HttpClient</h2>
    <div class="content">
      <button type="button" (click)="httpStart()">Start</button>
      <div class="lds-dual-ring" *ngIf="showLoading"></div>
      <button type="button" (click)="httpStop()">Stop</button>
    </div>
  </div>
</div>
