<h1 class="title">Angular Change Detection</h1>

<div class="container">
  <!-- Event -->
  <app-block
    title="Event"
    [showLoading]="showLoading"
    (loading)="eventHandle($event)"
  >
  </app-block>

  <!-- Timeout -->
  <app-block
    title="Timeout"
    [showLoading]="showLoading"
    (loading)="timeoutHandle($event)"
  >
  </app-block>

  <!-- HttpClient -->
  <app-block
    title="HttpClient"
    [showLoading]="showLoading"
    (loading)="httpClientHandle($event)"
  >
  </app-block>

  <!-- Custom Observable -->
  <app-block
    title="Custom Observable"
    [showLoading]="showLoading"
    (loading)="observableHandle($event)"
  >
  </app-block>

  <!-- HttpClient with Subject -->
  <app-block
    title="HttpClient with Subject"
    [showLoading]="showLoading"
    (loading)="observableFinalHandle($event)"
  >
  </app-block>
</div>
